[project]
name = "cafeteria"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi>=0.133.1",
    "psycopg-pool>=3.3.0",
    "psycopg[binary]>=3.3.3",
]
